<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab799c">  <td>21/07/06 18:11:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SauceTest.checkInventoryItemTest()[pri:1, instance:com.qa.crm.testcases.SauceTest@6193932a]">checkInventoryItemTest</td> 
  <td>main@1219402581</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>21/07/06 18:11:10</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.crm.testcases.SauceTest@6193932a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1219402581</td>   <td></td> </tr>
<tr bgcolor="ab799c">  <td>21/07/06 18:11:10</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SauceTest.checkAddToCartButtonTest()[pri:2, instance:com.qa.crm.testcases.SauceTest@6193932a]">checkAddToCartButtonTest</td> 
  <td>main@1219402581</td>   <td></td> </tr>
<tr bgcolor="80cb77">  <td>21/07/06 18:11:10</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.crm.testcases.SauceTest@6193932a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1219402581</td>   <td></td> </tr>
</table>
