<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FREE CRM Application Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9daf9d">  <td>21/07/06 18:12:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.qa.crm.testcases.SauceTest@1ffe63b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@171719296</td>   <td></td> </tr>
<tr bgcolor="d3a4e9">  <td>21/07/06 18:12:49</td>   <td>6504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SauceTest.checkInventoryItemTest()[pri:1, instance:com.qa.crm.testcases.SauceTest@1ffe63b9]">checkInventoryItemTest</td> 
  <td>TestNG-tests-1@171719296</td>   <td></td> </tr>
<tr bgcolor="9daf9d">  <td>21/07/06 18:12:49</td>   <td>6510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.crm.testcases.SauceTest@1ffe63b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@171719296</td>   <td></td> </tr>
<tr bgcolor="9daf9d">  <td>21/07/06 18:12:49</td>   <td>6651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.qa.crm.testcases.SauceTest@1ffe63b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@171719296</td>   <td></td> </tr>
<tr bgcolor="d3a4e9">  <td>21/07/06 18:12:55</td>   <td>13044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SauceTest.checkAddToCartButtonTest()[pri:2, instance:com.qa.crm.testcases.SauceTest@1ffe63b9]">checkAddToCartButtonTest</td> 
  <td>TestNG-tests-1@171719296</td>   <td></td> </tr>
<tr bgcolor="9daf9d">  <td>21/07/06 18:12:55</td>   <td>13047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.crm.testcases.SauceTest@1ffe63b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@171719296</td>   <td></td> </tr>
</table>
