<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2b896">  <td>21/07/06 18:25:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.qa.crm.testcases.SauceTest@4681c175]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="81bf66">  <td>21/07/06 18:25:21</td>   <td>6863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SauceTest.checkInventoryItemTest()[pri:1, instance:com.qa.crm.testcases.SauceTest@4681c175]">checkInventoryItemTest</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="a2b896">  <td>21/07/06 18:25:21</td>   <td>6870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.crm.testcases.SauceTest@4681c175]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="a2b896">  <td>21/07/06 18:25:21</td>   <td>7032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:com.qa.crm.testcases.SauceTest@4681c175]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="81bf66">  <td>21/07/06 18:25:27</td>   <td>12765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SauceTest.checkAddToCartButtonTest()[pri:2, instance:com.qa.crm.testcases.SauceTest@4681c175]">checkAddToCartButtonTest</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="a2b896">  <td>21/07/06 18:25:27</td>   <td>12768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.qa.crm.testcases.SauceTest@4681c175]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
</table>
